@model MyApplication.Models.Product
@{

    ViewBag.Title = "Edit post";
}

<div class="container-fluid" style="margin-top:50px">
    <h2>@ViewBag.Title</h2>
    <br />

    @using (Html.BeginForm(actionName: "Edit", controllerName: "Product"))
    {
        <div class="container-fluid">
            <div class="rowNew">
                <div class="colNew">
                    <div class="card" style="background-color:#21204D;border-radius:40px;">

                        @Html.HttpMethodOverride(HttpVerbs.Put)

                        @Html.HiddenFor(m => m.ProductID)
                        <div class="form-group text-form" style="color: #A6CBED">
                            @Html.Label("Title", "Title", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.Title)
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group text-form" style="color: #A6CBED">
                            @Html.Label("Description", "Description", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.Description)
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group text-form" style="color: #A6CBED">
                            @Html.Label("Image", "Image", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Image, new { type = "file" })
                                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group text-form" style="color: #A6CBED">
                            <label class = "col-md-4 control-label">Select Category</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.CategoryId,
                                    new SelectList(Model.Categories, "Value", "Text"),
                                    "Select Category", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                                <br />

                                <button class="btn btn-sm btn-default" type="submit">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
