@model MyApplication.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h5>Enter your email and we’ll send a link to reset your password. </h5>
    <hr />
    <div class="container pt-5 mt--8">
        <div class="rowRegister ">
            <div class="colRegister">
                <div class="card bg-secondary shadow-green border-0">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label LoginLabel" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default my-4"> Send me the link </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
                    }

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
