
@model MyApplication.Models.Comment

@{
    ViewBag.Title = "Add a comment";
}

<div class="container-fluid" style="margin-top:50px">
    <h2>@ViewBag.Title</h2>
    <br>
    <div class="container-fluid" >
        <div class="rowNew" >
            <div class="colNew">
                <div class="card" style="background-color:#21204D;border-radius:30px;">
                    @using (Html.BeginForm("New", "Comment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.UserName)
                        @Html.HiddenFor(m => m.CommentProductId)
                    <div class="form-group text-form" style="color: #A6CBED; justify-content:center;display:flex;">
                        @Html.TextArea("CommentTxt", null, new { @class = "form-control", @cols = 5, @rows = 5, @placeholder = "Enter Comment here", style = "max-width:75% !important;" })
                        @Html.ValidationMessageFor(m => m.CommentTxt, "", new { @class = "text-danger" })
                    </div>
                        <div class="text-center">
                            <button class="btn btn-sm btn-default" type="submit">Submit</button>
                        </div>
                        
                     }
                </div>
            </div>
        </div>
    </div>
</div>